## _Medical Insurance Costs_

Pada kasus ini, terdapat data tentang informasi kesehatan dan biaya yang harus dikeluarkan oleh asuransi kesehatan. Infomasi terkait dengan data _medical insurance cost_ adalah sebagai berikut,

1. Age: Usia penerima manfaat
2. Sex: Gender penerima manfaat (_male_, _femele_)
3. Bmi : Body Mass Index
4. Children: Jumlah anak/tanggungan yang dicover oleh pihak asuransi
5. Smoker: Status perokok (_yes_, _no_)
6. Region: Wilayah tempat tinggal penerima manfaat
7. Charges: Biaya yang dikeluarkan oleh asuransi

In [48]:
# Selayang pandang data Medical Insurance Costs
import numpy as np
import pandas as pd

df = pd.read_csv('data/insurance.csv')

display(df.head())

display(df.corr())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

### Tantangan

Buatlah model regresi untuk memprediksi biaya yang harus dikeluarkan oleh pihak asuransi berdasarkan data. Validasi performa model regresi Anda dengan nilai ***R-squared ($R^2$)***

#### _Tasks_

1. Pastikan semua variabel kategorial diolah dengan baik. (Gunakan fitur mapping pada pandas)
2. Cek kondisi multicollinearity untuk semua variabel independen. Jika ada, antar variabel apakah itu?
3. Pastikan model menggunakan variabel yang tidak memiliki nilai multicollinearity yang tinggi
4. (Hints) Anda dapat menggunakan nilai ***Variance Inflation Factor (VIF)*** untuk mengetahui tingkat multicollinearity pada sebuah variabel independent.
5. Evaluasi model yang Anda buat dengan nilai $R^2$
6. Simpulkan, variabel independen apa saja yang dapat digunakan untuk menghasilkan model regresi yang baik pada kasus _medical insurance costs_?

#### (Hints) Interpretasi Nilai VIF

- 1 - variabel indenpenden tidak memiliki korelasi dengan variabel independen yang lain
- 1 < VIF < 5 - variabel independen sedikit memiliki korelasi dengan variabel independen yang lain
- VIF > 5 - variabel independen memiliki korelasi yang kuat dengan variabel independen lainnya
- VIF > 10 - variabel independen miliki korelasi yang sangat kuat dengan variabel independen dan perlu diperhatikan lebih lanjut

#### (Hints) Implementasi Perhitungan VIF

VIF dapat dihitung secara langsung dengan menggunakan library dari `statsmodels`

#### (Hints) Scatterplot Korelasi Antar Variabel

![var_cor](assets/var_corr.png)

In [49]:
print("Nama : R.Muhammad Azmi Herdi Shofiyullah")
print("Kelas : TI-3A")
print("Absen : 21")

Nama : R.Muhammad Azmi Herdi Shofiyullah
Kelas : TI-3A
Absen : 21

In [50]:
import matplotlib.pyplot as plt 
import pandas as pd

df = pd.read_csv('data/insurance.csv')

#cek variasi data
print(df['region'].value_counts())
print('\n')
print(df['sex'].value_counts())
print('\n')
print(df['smoker'].value_counts())
print('\n')

southeast    364
northwest    325
southwest    325
northeast    324
Name: region, dtype: int64


male      676
female    662
Name: sex, dtype: int64


no     1064
yes     274
Name: smoker, dtype: int64

In [51]:
#ubah data menjadi angka
new_labels = {
    'southeast': 1,
    'northwest': 2,
    'southwest': 3,
    'northeast': 0
}

gender = {
    'male': 1,
    'female': 0
}

smoke = {
    'yes': 1,
    'no': 0
}

df['region'] = df['region'].map(new_labels)
df['sex'] = df['sex'].map(gender)
df['smoker'] = df['smoker'].map(smoke)

# Cek data
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [52]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
  
# the independent variables set
T = df[['age', 'sex', 'children', 'smoker', 'region', 'bmi']]
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = T.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(T.values, i)
                          for i in range(len(T.columns))]
  
print(vif_data)

    feature       VIF
0       age  7.625316
1       sex  2.002391
2  children  1.807247
3    smoker  1.257496
4    region  2.671980
5       bmi  9.649267

In [53]:
#drop kolom yang diperlukan
df = df.drop(df.columns[0], axis=1)
df = df.drop(df.columns[1], axis=1)

df.head()

   sex  children  smoker  region      charges
0    0         0       1       3  16884.92400
1    1         1       0       1   1725.55230
2    1         3       0       1   4449.46200
3    1         0       0       2  21984.47061
4    1         0       0       2   3866.85520

In [54]:
#buat copy tabel
new_df = df
new_df.head()

   sex  children  smoker  region      charges
0    0         0       1       3  16884.92400
1    1         1       0       1   1725.55230
2    1         3       0       1   4449.46200
3    1         0       0       2  21984.47061
4    1         0       0       2   3866.85520

In [55]:
#mulai mencari nilai R2
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


X = new_df.iloc[:, :-1].values
y = new_df.iloc[:, 4].values

Xm_train, Xm_test, ym_train, ym_test = train_test_split(X, y, test_size=0.2, random_state=100)

y = y.reshape(len(y), 1)
y.shape

(1338, 1)

In [56]:
mlr = LinearRegression()
mlr.fit(Xm_train, ym_train)

ym_pred = mlr.predict(Xm_test)

gabung = np.concatenate((ym_test, ym_pred))
gabung

array([ 1826.843     , 20177.67113   ,  7421.19455   ,  1877.9294    ,
       15518.18025   , 29523.1656    , 13143.86485   ,  3279.86855   ,
       18972.495     , 12950.0712    ,  8083.9198    , 18218.16139   ,
        8334.45755   ,  2727.3951    ,  7441.053     , 38711.        ,
       10338.9316    , 11552.904     ,  4751.07      , 11381.3254    ,
       10226.2842    ,  1526.312     ,  7222.78625   , 21259.37795   ,
       10848.1343    , 58571.07448   ,  3268.84665   , 48517.56315   ,
       21880.82      , 13457.9608    , 12592.5345    ,  2457.21115   ,
       47896.79135   , 33732.6867    ,  6600.361     , 14349.8544    ,
       18963.17192   , 39047.285     ,  3645.0894    , 30942.1918    ,
        7624.63      ,  7650.77375   ,  2498.4144    ,  4949.7587    ,
        2196.4732    ,  3972.9247    ,  4415.1588    ,  2362.22905   ,
       11272.33139   ,  5662.225     , 13405.3903    ,  8269.044     ,
        4915.05985   ,  7729.64575   ,  7045.499     , 11674.13      ,
       10085.846     , 37607.5277    ,  6313.759     , 20781.48892   ,
       24059.68019   ,  2741.948     , 18157.876     ,  8280.6227    ,
       11987.1682    ,  2690.1138    ,  2198.18985   ,  5246.047     ,
        4686.3887    , 45863.205     ,  9861.025     ,  5354.07465   ,
       12957.118     , 17361.7661    ,  8823.98575   ,  1708.0014    ,
       25992.82104   , 24180.9335    , 13352.0998    ,  9101.798     ,
        2639.0429    , 19214.70553   ,  7201.70085   ,  3392.3652    ,
       35069.37452   , 45008.9555    , 12146.971     , 40003.33225   ,
       17904.52705   ,  6334.34355   , 17043.3414    ,  8233.0975    ,
        9644.2525    ,  1252.407     , 37270.1512    ,  6282.235     ,
        8347.1643    ,  6196.448     , 19023.26      ,  4827.90495   ,
        5615.369     ,  2166.732     , 10141.1362    ,  8605.3615    ,
       39722.7462    , 12643.3778    , 35585.576     , 19798.05455   ,
       12574.049     ,  1981.5819    , 11187.6567    ,  5257.50795   ,
       11455.28      , 10965.446     , 22144.032     , 13974.45555   ,
        1909.52745   , 13831.1152    ,  8596.8278    ,  7623.518     ,
       20984.0936    , 12404.8791    , 14007.222     , 13112.6048    ,
        9722.7695    , 24915.22085   , 11353.2276    , 24671.66334   ,
        6640.54485   , 10355.641     ,  4189.1131    ,  6775.961     ,
        5031.26955   , 10713.644     ,  1391.5287    , 34806.4677    ,
       12094.478     , 36837.467     ,  6652.5288    ,  7742.1098    ,
       38344.566     ,  2494.022     , 34779.615     ,  7639.41745   ,
        6123.5688    ,  9140.951     , 12142.5786    ,  4040.55825   ,
        9964.06      ,  7682.67      , 12479.70895   ,  3558.62025   ,
        4883.866     , 10065.413     , 11454.0215    ,  9715.841     ,
       38746.3551    ,  9249.4952    , 11085.5868    , 18310.742     ,
        8944.1151    , 33750.2918    , 39241.442     , 10736.87075   ,
        3956.07145   , 11362.755     ,  1131.5066    ,  8116.26885   ,
       16069.08475   , 12644.589     , 47403.88      , 33907.548     ,
        4350.5144    , 32548.3405    ,  7512.267     , 13725.47184   ,
        2055.3249    , 32787.45859   , 14590.63205   ,  7323.734819  ,
       39725.51805   , 17085.2676    , 20149.3229    , 12949.1554    ,
        2902.9065    , 17352.6803    , 34672.1472    , 10825.2537    ,
        6389.37785   , 14692.66935   ,  1242.816     ,  9447.25035   ,
        2130.6759    ,  9500.57305   ,  4846.92015   ,  6414.178     ,
       46113.511     , 12829.4551    ,  9282.4806    , 12323.936     ,
        2867.1196    ,  5253.524     ,  1977.815     ,  7358.17565   ,
       48970.2476    , 60021.39897   , 10197.7722    , 26926.5144    ,
        2457.502     , 37701.8768    ,  9778.3472    ,  1986.9334    ,
       15817.9857    , 29141.3603    ,  7162.0122    ,  6113.23105   ,
       18806.14547   ,  5377.4578    ,  1824.2854    ,  2709.24395   ,
       12629.8967    , 14313.8463    ,  5584.3057    ,  7626.993     ,
        8601.3293    , 47462.894     ,  3989.841     ,  2045.68525   ,
       13607.36875   ,  5757.41345   , 10942.13205   , 40103.89      ,
       43921.1837    ,  8059.6791    ,  4500.33925   , 40974.1649    ,
        3171.6149    ,  6748.5912    , 13019.16105   ,  7147.105     ,
       14358.36437   ,  2150.469     ,  4906.40965   , 42211.1382    ,
        5002.7827    ,  7046.7222    ,  1639.5631    , 31620.00106   ,
        9788.8659    ,  3443.064     , 16796.41194   ,  5003.853     ,
        2855.43755   , 11244.3769    , 11396.9002    , 26125.67477   ,
        3866.8552    , 11070.535     , 36197.699     ,  6455.86265   ,
        2709.1119    , 38998.546     ,  7151.092     ,  1984.4533    ,
       14283.4594    , 14043.4767    ,  8825.086     , 12124.9924    ,
        7461.75326593,  8552.91560746,  7575.68661661,  7847.0194969 ,
       31584.40101878, 31427.00148917,  8275.75190681,  9524.31377795,
       32561.63000963,  7733.08614622,  8628.69996209,  8471.30043247,
        8900.03284238,  8275.75190681,  8086.0342015 , 32018.96424904,
        7847.0194969 , 10425.75841417,  8086.0342015 ,  8004.41902651,
        8004.41902651,  7461.75326593,  7733.08614622, 32832.96288993,
        8824.24848775, 32051.28242474,  8275.75190681, 32051.28242474,
       32132.89759973,  7847.0194969 , 10968.42417476,  8118.3523772 ,
       32051.28242474, 31584.40101878,  8710.31513707,  8357.36708179,
        8628.69996209, 32208.68195436,  8275.75190681, 33028.51141559,
        7928.63467189,  8742.63331277,  8004.41902651,  9095.58136805,
        8118.3523772 ,  7847.0194969 ,  7847.0194969 ,  8357.36708179,
        8900.03284238,  7847.0194969 ,  8004.41902651,  7304.35373631,
       11397.15658467,  9524.31377795,  7928.63467189,  7928.63467189,
        8086.0342015 , 32208.68195436,  9095.58136805,  8004.41902651,
        8824.24848775,  8118.3523772 ,  8981.64801736,  7847.0194969 ,
        9877.26183323,  7575.68661661,  8118.3523772 ,  7928.63467189,
        9252.98089766, 31155.66860888,  7928.63467189,  8742.63331277,
        7461.75326593, 32290.29712934,  8742.63331277,  8275.75190681,
        9877.26183323, 33028.51141559,  7733.08614622,  9177.19654303,
        8357.36708179,  8004.41902651,  8824.24848775,  8471.30043247,
       31584.40101878, 31155.66860888,  7461.75326593, 32132.89759973,
       31584.40101878,  9991.19518391, 31313.06813849,  8471.30043247,
        7575.68661661,  7461.75326593, 31427.00148917,  8086.0342015 ,
        9252.98089766,  9177.19654303, 33734.40752615, 10148.59471352,
       10583.15794378,  7304.35373631, 10148.59471352,  9877.26183323,
       31313.06813849,  8824.24848775, 30770.4023779 , 32675.56336032,
        7461.75326593,  8004.41902651,  8824.24848775,  8981.64801736,
        7304.35373631,  7461.75326593, 30770.4023779 ,  8275.75190681,
        7733.08614622,  8004.41902651, 10968.42417476,  7928.63467189,
       32832.96288993,  8275.75190681,  9177.19654303,  8357.36708179,
        8275.75190681, 32914.57806491,  7733.08614622, 10615.47611948,
        9524.31377795,  7575.68661661,  8824.24848775,  7928.63467189,
        9524.31377795,  7304.35373631,  8004.41902651, 31937.34907406,
        9177.19654303, 30770.4023779 ,  9877.26183323,  8628.69996209,
       32018.96424904,  7461.75326593, 30770.4023779 ,  8742.63331277,
        8357.36708179,  8004.41902651,  8004.41902651,  8900.03284238,
        8900.03284238,  9719.86230362,  9448.52942332,  8118.3523772 ,
        7304.35373631,  8086.0342015 ,  7575.68661661,  9366.91424834,
       32914.57806491,  8199.96755218,  9448.52942332, 31041.7352582 ,
        9877.26183323, 31041.7352582 , 32018.96424904, 10772.87564909,
        8199.96755218,  7461.75326593,  8004.41902651,  8981.64801736,
        9366.91424834,  7304.35373631, 31394.68331347, 30884.33572858,
        8471.30043247, 31313.06813849,  9958.87700821,  8742.63331277,
        7733.08614622, 32914.57806491,  9991.19518391,  8118.3523772 ,
       31508.61666416, 31779.94954445, 31584.40101878, 10501.5427688 ,
        8628.69996209, 31041.7352582 , 31313.06813849,  8357.36708179,
        8357.36708179,  7575.68661661,  7461.75326593,  8742.63331277,
        7575.68661661, 10148.59471352, 10148.59471352,  9177.19654303,
       31861.56471943, 32832.96288993,  8900.03284238,  8275.75190681,
        8004.41902651,  9334.59607264,  7461.75326593,  8742.63331277,
       31937.34907406, 32914.57806491,  8118.3523772 , 31313.06813849,
        7304.35373631, 32051.28242474,  8742.63331277,  8004.41902651,
       31041.7352582 , 30884.33572858,  9252.98089766,  9991.19518391,
        9252.98089766,  8357.36708179,  8004.41902651,  8199.96755218,
        7847.0194969 ,  7847.0194969 ,  9252.98089766,  7928.63467189,
        7847.0194969 , 32561.63000963,  7304.35373631,  7733.08614622,
        9366.91424834,  8275.75190681,  8199.96755218, 32018.96424904,
       31041.7352582 ,  9448.52942332,  8275.75190681, 31155.66860888,
        7847.0194969 , 10148.59471352,  8742.63331277,  7461.75326593,
        8086.0342015 ,  7304.35373631,  8824.24848775, 31937.34907406,
        8471.30043247,  8471.30043247,  7733.08614622,  8742.63331277,
       11125.82370437,  9334.59607264,  8742.63331277,  7928.63467189,
        7575.68661661,  9524.31377795,  9366.91424834, 31155.66860888,
        7733.08614622,  7304.35373631, 30770.4023779 ,  8981.64801736,
        8199.96755218, 32018.96424904,  9177.19654303,  8275.75190681,
       31427.00148917,  8118.3523772 ,  8552.91560746,  7733.08614622])

In [57]:
r2_mlr = r2_score(ym_test, ym_pred)
print(r2_mlr)
print("Jawaban Final : ", r2_mlr)

0.6829316358709019
Jawaban Final :  0.6829316358709019

2. Untuk variabel yang merupakan multicolinearity adalah 'age', 'sex', 'children', 'smoker', 'region', 'bmi' yang dimana memiliki nilai VIF yang telah disebutkan di atas.
 ---
6. untuk kesimpulannya adalah variabel yang dibutuhkan untuk mendapatkan nilai yang adalah semua variabel kecuali variabel age dan bmi dibutuhkan untuk mendapatkan nilai terbaik.